body{
	font-family: Verdana, Tahoma, Arial;
	line-height: 26px;
	direction:rtl;
	background: #fbfbfb;
}

.entry{
	font-family: "Segoe UI", Verdana, Tahoma, Arial;
	font-weight: bold;
	color: #365F91;
	font-size: 20px;
	direction: rtl;
	text-align: right;
	margin: 4px 0 17px 0px;
}
.def{
	font-family: Tahoma, Arial;
	color: #242120;
}
.nex{
	font-family: "Segoe UI", Verdana, Tahoma, Arial;
	color: #EF3131;
	font-size: 17px;
	direction: rtl;
	text-align: right;
	font-weight: bold;
	float: right;
	border-bottom: solid 2px #313742;
	margin: -35px 0px 0px 0px;
    display: inline;
    padding-bottom: 3px
}
ol.dln {
    list-style-type: none;
    list-style-type: decimal !ie;
    margin: 0;
    margin-right: 3em;
    padding: 0;
    counter-reset: li-counter;
}
ol.dln > li{
    position: relative;
    margin-bottom: 20px;
    padding-right: 0.5em;
    min-height: 3em;
    border-right: 2px solid #ff4444;
}
ol.dln > li:before {
    position: absolute;
    top: 0;
    right: -1.6em;
    width: 0.8em;
    font-size: 1.5em;
    line-height: 1;
    font-weight: bold;
    text-align: left;
    color: #797979;
    content: counter(li-counter);
    counter-increment: li-counter;
}
.abbr{
	font-family: "Segoe UI", Verdana, Tahoma, Arial;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	background-color: #f7f7f7;
    border: 2px solid #404040;
    border-radius: 3px 18px 3px;
    vertical-align:middle;
    line-height:40px;
    margin: 0 auto;
	width: 50%;
}
a {
color : #ff4444;
font-weight: bold;
text-decoration : none;
}
a:hover {
color: #292C2F;
font-weight: bold;
text-decoration: none;
}
b {
     color: #05729b;
     }